<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xindian.dao.TbMerDao">
    <resultMap id="tbMerResultType" type="TbMer">
        <id property="mId" column="m_id" />
        <result property="mLoginId" column="m_loginid" />
        <result property="mPassword" column="m_password" />
        <result property="mName" column="m_name" />
        <result property="mAddress" column="m_address" />
        <result property="mPhone" column="m_phone" />
        <result property="mIntro" column="m_intro" />
        <result property="mIsAdmin" column="m_isadmin" />
        <result property="mUrl" column="m_url" />
    </resultMap>

    <resultMap id="tbFoodIntroResultMap" type="TbFood">
        <id property="fId" column="f_id" />
        <result property="fName" column="f_name" />
        <result property="fUrl" column="f_url" />
    </resultMap>

    <select id="queryMerById" parameterType="int" resultMap="tbMerResultType">
        SELECT * FROM tb_mer WHERE m_id = #{mId}
    </select>

    <select id="queryMer" parameterType="TbMer" resultMap="tbMerResultType">
        SELECT * FROM tb_mer WHERE m_loginid = #{mLoginId} AND m_password = #{mPassword}
    </select>

    <update id="updateMer" parameterType="TbMer">
        UPDATE tb_mer SET
          m_name = #{mName},
          m_address = #{mAddress},
          m_phone = #{mPhone},
          m_Intro = #{mIntro}
        WHERE m_id = #{mId}
    </update>

    <update id="changeMerPicture" parameterType="TbMer">
        UPDATE tb_mer SET
          m_url = #{mUrl}
        WHERE m_id = #{mId}
    </update>

    <select id="queryFoodsByMid" resultMap="tbFoodIntroResultMap">
        SELECT * from tb_food where m_id = #{mId};
    </select>
</mapper>